// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//Vue transitions

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.shake-enter-active {
  animation: shake 0.5s;
}

@keyframes shake{
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

//SPINNERS

//simple spinner from: https://codepen.io/mandelid/pen/vwKoe
#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: $main-theme;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}


//USED IN ALL PAGES
.pointer{
  cursor: pointer;
}

.separation-line{
    height: 1.8rem;
}

.page-content{
    position: relative; 
    min-height: 100vh;
}

#app{
    padding-bottom: 6rem;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
}

.footer-text{
  font-size: 10px;
}

.btn-space{
  margin-right: 10px;
}

.padded{
  padding: 10px;
}

.padded-from-top{
  padding-top: 0.75em;
}

.padded-from-left{
  padding-left: 1em;
}

.main-bg{
  background-color: $main-theme;
}

.alt-bg
{
  background-color: $light-grey;
}
.secondary-bg{
  background-color: $secondary-theme;
}

.main-btn{
  background-color: $main-theme;
  color: white !important;
}
.main-btn:hover{
  background-color: $secondary-theme;
}

.secondary-btn{
  background-color: $secondary-theme;
  color: white !important;
}
.secondary-btn:hover{
  background-color: $main-theme;
}

.navbar-logo{
  width:35px;
  height:35px;
}
.footer-logo{
  width:50px;
  height:50px;
}

.white-text{
  color: $white !important;
}

.no-margins{
  margin: 0;
}

/* simple rule used to REPLACE <br/> */
.space-y{
  margin-top: 20px;
}

.spaced{
  margin:10px;
}
.spaced-min{
  margin:5px;
}


//cosmetic-css

.transparent-1{
  @extend %transparent-1;
}

.external-site-logo{
  @extend %pushed-up-1;
  width:30px;
  height:20px;
}





//HERO-UNIT
#hero-unit{
  width: 100%;
  height: 23em;
  
  @media(max-width: #{$hero-breakpoint-md}){
    height:26em !important;
  }
  @media(max-width: #{$hero-breakpoint-xs}){
    height:29em !important;
  }
}
#particles-background{
  position: absolute;
  background-color: $main-theme;
  width: 100%;
  height: 24em;

  @media(max-width: #{$hero-breakpoint-md}){
    height:27em !important;
  }
  @media(max-width: #{$hero-breakpoint-xs}){
    height:30em !important;
  }

  background-repeat: no-repeat; 
  background-size: cover;
  z-index: -1;
}


//SKILLS-UNIT
.skill-img{
  width:100px;
  height:100px;
  padding: 15px;

  @media(max-width: #{$hero-breakpoint-xs}){
    width: 90px;
    width: 90px;
    padding:10px;
  }
}
